<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="{{appTitle}}">

    <title>{{pageTitle}}</title>

  {{#if description}}
    <meta name="description" content="{{description}}">
  {{/if}}

    {{addCSS "/css/main.css"         prepend=true}}
    {{addCSS "/vendor/normalize.css" prepend=true}}

  {{#css}}
    <link rel="stylesheet" href="{{{url}}}">
  {{/css}}

  {{#if pictos}}
    <link rel="stylesheet" href="//get.pictos.cc/fonts/{{pictos}}">
  {{/if}}

  {{#if typekit}}
    <script src="//use.typekit.net/{{typekit}}.js"></script>
    <script>
        try { Typekit.load(); } catch (e) {}
    </script>
  {{/if}}
</head>
<body>

    {{> nav}}

{{{body}}}

  {{#if yui}}
    <script src="http://yui.yahooapis.com/{{yui.version}}/build/yui/yui{{min}}.js"></script>
    <script>
        YUI({{{yui.config}}}).use('lew-app');
    </script>
  {{/if}}

</body>
</html>
