{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{addCSS "/css/wedding.css"}}
{{addCSS "/css/wedding-home.css"}}

<div id="map" data-map="ericf.map-89cfakky"></div>

<div class="l-wrap">
    <h1 class="ann">
        <span class="ann-msg">Wedding</span>
        <span class="ann-date">October 5, 2013</span>
        <span class="ann-loc">Easton, MD</span>
    </h1>

    <ol class="cal l-contain l-grid">
        {{#day "Friday 4"}}
            {{addDayEvent "evening-before"
                start = "8pm"
                end   = "1am"
                desc  = "Drinks @ Washington St. Pub & Oyster Bar"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Saturday 5" primary=true}}
            {{addDayEvent "ceremony"
                start = "4:30pm"
                desc  = "Wedding Ceremony"}}

            {{addDayEvent "ceremony"
                start = "5pm"
                end   = "10pm"
                desc  = "Reception"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Sunday 6"}}
            {{addDayEvent "brunch"
                start = "11am"
                end   = "1pm"
                desc  = "Light Brunch"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}
    </ol>

    <ul class="travel-nav l-contain l-grid">
        <li class="travel-nav-item travel-nav-travel l-grid-u">
            <a class="button" data-icon="p" href="transportation/">Get There</a>
        </li>
        <li class="travel-nav-item travel-nav-hotel l-grid-u">
            <a class="button" data-icon="b" href="hotels/">Stay There</a>
        </li>
    </ul>

    <div class="details l-contain">
        <h2 id="evening-before" class="details-header">
            Drinks the Evening Before
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    If you arrive in Easton, MD by <b>Friday, October 4th</b> we would love for you to meet up with us as at:
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <b><a href="http://washingtonstreetpub.com/">Washington Street Pub &amp; Oyster Bar</a></b><br>
                    <a href="http://maps.apple.com/?q=20+N+Washington+St.+Easton,+MD+21601">
                        20 N Washington St.<br>
                        Easton, MD 21601
                    </a>
                </address>
            </div>
        </div>

        <p>
            The second floor balcony will be reserved for our group starting at <b>8:00pm</b>. Feel free to come early and enjoy a meal or later just for drinks. This is an informal gathering, but it would be great if we could get a rough estimate of who will be attending. Let us know if you think you will be in town. The bar accepts both cash and credit cards.
        </p>


        <h2 id="ceremony" class="details-header">
            Ceremony &amp; Reception
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    The wedding ceremony will begin, <em>promptly</em>, on <b>Saturday at 4:30pm</b>. The ceremony and reception will be held at the home of Steve and Minda Goldberg:
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <a href="http://maps.apple.com/?q=8290+Ingleton+Circle+Easton,+MD+21601">
                        <b>Goldberg Residence</b><br>
                        8290 Ingleton Circle<br>
                        Easton, MD 21601
                    </a>
                </address>
            </div>
        </div>

        <h2 id="brunch" class="details-header">
            Brunch the Morning After
        </h2>

        <p>
            An informal buffet of bagels and fixings will be served at the home of Steve and Minda Goldberg (the same location as the <a href="#ceremony">ceremony</a>) on <b>Sunday morning</b>. Stop by anytime between 11am and 1pm, before you head out of town.
        </p>
    </div>
</div>
