<div class="guest {{guestAvailable}} {{guestAttending}} l-contain l-grid-u" data-guest="{{id}}">
    <div class="guest-details">
        <h2 class="l-grid">
            <span class="guest-salutation l-grid-u" data-icon>
                <span class="guest-title">{{title}}</span>
                <span class="guest-name">{{name}}</span>
            </span>

            <span class="guest-title-val l-grid-u">
                <input type="text" value="{{title}}" placeholder="Title" data-title>
            </span>
            <span class="guest-name-val l-grid-u">
                <input type="text" value="{{name}}" placeholder="Full Name" data-name>
            </span>
        </h2>

        <p class="guest-attending-val">
            <label>
                <input type="checkbox" data-attending {{#if is_attending}}checked{{/if}}>
                Is Attending
            </label>
        </p>

        <p class="guest-meal"><b>Main Course:</b> <span>{{guestMeal}}</span></p>
        <p class="guest-meal-val l-grid">
            <b class="l-grid-u-full">Main Course:</b>
          {{#each mealOptions}}
            <label class="l-grid-u">
                <input type="radio" data-meal name="guest-meal-{{../id}}" value="{{id}}" {{isGuestMeal ../meal}}>
                <span class="guest-meal-val-label">{{label}}</span>
            </label>
          {{/each}}
        </p>
    </div>

    <div class="guest-ctrls">
        <button class="guest-add" data-icon="g" data-add-guest>Add Guest</button>
    </div>
</div>
