{{setPageTitle "Wedding"}}
{{setActiveNav "wedding"}}
{{setYUIModule "le-wedding"}}
{{setDescription "The details of Leslie Verploegen’s & Eric Ferraiuolo’s wedding."}}
{{addCSS "/css/details.css"}}
{{addCSS "/css/wedding.css"}}

<div id="map" data-map="ericf.map-89cfakky"></div>

<div class="l-wrap">
    <h1 class="ann">
        <span class="ann-secondary">Wedding</span>
        <span class="ann-primary">October 5, 2013</span>
        <span class="ann-secondary">Easton, MD</span>
    </h1>

    <ol class="cal l-contain l-grid">
        {{#day "Friday 4"}}
            {{addDayEvent "evening-before"
                start = "8pm"
                end   = "1am"
                desc  = "Drinks @ Washington St. Pub & Oyster Bar"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Saturday 5" primary=true}}
            {{addDayEvent "ceremony"
                start = "4:30pm"
                desc  = "Wedding Ceremony"}}

            {{addDayEvent "ceremony"
                start = "5pm"
                end   = "10pm"
                desc  = "Reception"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}

        {{#day "Sunday 6"}}
            {{addDayEvent "brunch"
                start = "11am"
                end   = "1pm"
                desc  = "Informal Brunch Buffet"}}

            {{> day/header}}
            {{> day/events}}
        {{/day}}
    </ol>

    <div class="l-contain">
        <ul class="travel-nav l-grid">
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="p" href="/logistics/">Get There</a>
            </li>
            <li class="travel-nav-item l-grid-u">
                <a class="button" data-icon="b" href="/logistics/hotels/">Stay There</a>
            </li>
        </ul>
    </div>

    <div class="details l-contain">
        <h2 id="evening-before" class="anchored-header">
            Drinks the Evening Before
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    If you arrive in Easton, MD by <b>Friday, October 4th</b> we would love for you to meet up with us as at:
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <b><a href="http://washingtonstreetpub.com/">Washington Street Pub &amp; Oyster Bar</a></b><br>
                    <a href="http://maps.apple.com/?q=20+N+Washington+St.+Easton,+MD+21601">
                        20 N Washington St.<br>
                        Easton, MD 21601
                    </a>
                </address>
            </div>
        </div>

        <p>
            The second floor balcony will be reserved for our group starting at <b>8pm</b>. Feel free to come early and enjoy a meal or later just for drinks. This is an informal gathering, and the bar accepts both cash and credit cards.
        </p>


        <h2 id="ceremony" class="anchored-header">
            Ceremony &amp; Reception
        </h2>

        <div class="details-group l-grid">
            <div class="l-grid-u">
                <p class="details-content">
                    The wedding ceremony will begin, <em>promptly</em>, on <b>Saturday at 4:30pm</b>. The ceremony and reception will be held at the home of Steve and Minda Goldberg:
                </p>
            </div>

            <div class="l-grid-u">
                <address class="details-content">
                    <a href="http://maps.apple.com/?q=8290+Ingleton+Circle+Easton,+MD+21601">
                        <b>Goldberg Residence</b><br>
                        8290 Ingleton Circle<br>
                        Easton, MD 21601
                    </a>
                </address>
            </div>
        </div>

        <h2 id="brunch" class="anchored-header">
            Informal Brunch Buffet
        </h2>

        <p>
            An informal brunch buffet will be served at the home of Steve and Minda Goldberg (the same location as the <a href="#ceremony">ceremony</a>) on <b>Sunday morning</b>. Stop by anytime between 11am - 1pm, before you head out of town.
        </p>
        <p>
            We would appreciate if you would RSVP, <em>regrets only</em>, <a href="/rsvp/brunch/">if you <em>won't</em> be attending the brunch</a>.
        </p>
    </div>
</div>
